<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">	
	<link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">	
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>MARVEL UNIVERSE - CHARACTER PROFILE</title>
</head>
<body class="individual">
	<h1 class="charProf">MARVEL UNIVERSE - CHARACTER PROFILE</h1><br/>
	<div class="charBackground"><img src="<%=heroList.img%>"></div><br/>
	<h2><%=heroList.name%></h2>
	<h4>Height: <div class="stats"><%=heroList.height%></div></h4>
	<h4>Weight: <div class="stats"><%=heroList.weight%></div></h4>
	<h4>Attacks/Abilities: <div class="stats"><%=heroList.attacks%></div></h4>
	<h4>Bio: <div class="stats"><%=heroList.bio%></div></h4></br>
	<a href="/superheroes/">Back to Marvel Universe</a>
</body>
</html>